<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Estados</title>
        <meta charset="UTF-8">
        <link href="../static/css/estilos1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <h2>Países del Planeta</h2>
        <br/>
        <a th:href="@{/nuevoEstado}">Nuevo Estado</a>
        <br/>
        <br/>
        <div th:if="${estados != null and !estados.empty}">
            <table border="1">
                <thead>
                <th>País</th>
                <th>Capital</th>
                <th>Población</th>
                <th>Costas</th>
                <th colspan="2">Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="estado : ${estados}">
                        <td th:text="${estado.pais}"></td>
                        <td th:text="${estado.capital}"></td>
                        <td th:text="${estado.poblacion}"></td>
                        <td th:text="${estado.costas}"></td>
                        <td><a th:href="@{/modificarEstado/} + ${estado.idEstado}">Modificar</a></td>
                        <td><a th:href="@{/eliminarEstado/} + ${estado.idEstado}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${estados == null or estados.empty}">
            La lista de estados está vacía...
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>